body {
    font-family: 'DotGothic16', sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #00ffff; /* シアン */
    font-size: 24px;
}

/* 各画面のコンテナ */
#user-info-screen, #difficulty-screen {
    margin-bottom: 20px;
}

/* ドロップダウンメニュー */
#user-info-screen select {
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    padding: 5px;
    margin: 0 5px;
}

/* ボタン共通 */
.level-btn {
    margin-bottom: 20px;
}

.level-btn {
    font-family: 'DotGothic16', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}
.level-btn:hover {
    background-color: #00ffff;
    color: #111;
}

/* ゲーム画面のコンテナ */
#canvas-container {
    margin: 20px auto;
    border: 2px solid #00ffff;
    width: fit-content; /* キャンバスのサイズに合わせる */
}

/* ガイド全体のコンテナ */
#guide-container {
    margin-top: 20px;
    /* ガイドが表示されていなくてもガタつかないように高さを確保 */
    height: 80px; 
}

.guide {
    text-align: center;
}

#hira-guide {
    font-size: 18px;
    margin-bottom: 10px;
}

#romaji-guide {
    font-size: 24px;
}

.typed { color: #64ff64; } /* 明るい緑 */
.untyped { color: #ffffff; } /* 白 */
